# Backups of save files
*.sav.backup*

# Save files in the root folder
/*.sav

# Generated go-test coverage reports
coverprofiles/
coverprofile.out

# Generated artifacts
/bin
/dist
/fyne-cross

# Packit RPM builds
/tmp
/x86_64
/aarch64
